.apoio_referencias {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding: 2vw;
}

.horizontal_referencias {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloco_referencias {
    width: 40%;
    height: 16vw;
    border: 4px solid #e8e8e8;
    padding: 1vw;
    overflow-y: hidden;
}

.bloco_referencias h2 {
    margin-bottom: 2vw;
    color: black;
}

.linha_espacamento {
    width: 3px;
    height: 310px;
    border: 3px solid #e8e8e8;
}