@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.container {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

a {
    font-size: 1.3vw;
    color: black;
}

h1 {
    color: white;
}

h2 {
    font-size: 24px;
    color: white;
}

p {
    font-size: 1.1vw;
    text-transform: initial;
}


/* Inicio do header */

header {
    width: 100vw;
    height: 4.2vw;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
}

.apoio_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apoio_header img {
    height: 70%;
    width: auto;
}

.apoio_header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}


/* Inicio Main */

main {
    width: 100vw;
    height: 1000px;
    background-size: 100% auto;
    background-image: url("../Img/ImagemFundo.png");
}

.apoio_titulo {
    height: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apoio_titulo h1 {
    margin-bottom: 10px;
}

.apoio_texto_banner {
    width: 100%;
    height: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.fundo_texto_banner {
    width: 45vw;
}

.fundo_texto_banner h3 {
    font-size: 1.6vw;
    color: #9E9E9E;
}

.linha_horizontal {
    border: 2px solid black;
    margin: 10px 0px;
    /* Por algum motivo eu não consegui colocar apenas um margin simples */
    width: 25%;
}

.apoio_curiosidades {
    display: flex;
    justify-content: end;
    padding-top: 33.5px;
    padding-bottom: 33.5px;
}

#apoio_curiosidades {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#apoio_curiosidades h3 {
    color: white;
}

#linha_horizontal_curiosidades {
    width: 33%;
    border-color: white;
}

#apoio_curiosidades P {
    color: white;
    text-align: end;
}