@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@500&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 10%;
}

a {
    font-size: 1.1vw;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 2.7vw;
}

h2 {
    font-size: 24px;
    color: white;
}

p {
    font-size: 1vw;
    text-transform: initial;
}

article {
    width: 22%;
    height: 14vw;
    background-color: #fff;
    padding: 1.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 6px 11px rgba(133, 105, 108, 0.22);
    border-radius: 8px;
}


/* Inicio do header */

header {
    width: 100vw;
    height: 4.2vw;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99;
    border: #e8e8e8 1px solid;
}

.apoio_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apoio_header img {
    height: 70%;
    width: auto;
}

.apoio_header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}


/* Inicio Main */

main {
    width: 100vw;
    background-size: 100% auto;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding-top: 4.2vw;
}

.imagem_fundo {
    width: 100vw;
    height: 60vw;
    background-image: url("../Img/ImagemFundo.png");
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    background-size: cover;
}

.apoio_titulo {
    height: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apoio_titulo h1 {
    margin-bottom: 10px;
}

.apoio_texto_banner {
    width: 100%;
    height: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
}

.fundo_texto_banner {
    width: 45vw;
}

.fundo_texto_banner h3 {
    font-size: 1.6vw;
    color: #9E9E9E;
}

.linha_horizontal {
    border: 2px solid black;
    margin: 10px 0px;
    /* Por algum motivo eu não consegui colocar apenas um margin simples */
    width: 51%;
}

.apoio_curiosidades {
    display: flex;
    justify-content: end;
    padding-top: 33.5px;
    padding-bottom: 33.5px;
}

#apoio_curiosidades {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#apoio_curiosidades h3 {
    color: white;
}

#linha_horizontal_curiosidades {
    width: 43%;
    border-color: white;
}

#apoio_curiosidades P {
    color: white;
    text-align: end;
    margin-bottom: 1.1vw;
}

#apoio_curiosidades button {
    width: 25%;
    height: 2.7vw;
    border-radius: 20px;
    font-size: 1.1vw;
    color: white;
    text-transform: uppercase;
    background-color: #c12020;
    border: none;
}

#apoio_curiosidades button a {
    color: white;
}


/* Inicio Footer */

footer {
    background-color: #F4F4F4;
}

.apoio_titulo_footer {
    height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1vw;
}

.apoio_titulo_footer h4 {
    color: black;
    font-size: 1.3vw;
}

.apoio_titulo_footer hr {
    width: 11%;
    border-radius: 5px;
    border: 3px solid black;
    ;
}

.apoio_destaques {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding: 1vw;
}

.apoio_destaques h5 {
    font-size: 1.4vw;
}

.paragrafo_footer {
    margin-top: 0.6vw;
    color: #9E9E9E;
}

.corpo_footer {
    display: flex;
    align-items: center;
    height: 8vw;
    background-color: #fff;
    border: #e8e8e8 1px solid;
}

.corpo_footer_conteudo {
    display: flex;
    justify-content: space-between;
}

.corpo_footer_conteudo nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.corpo_footer_conteudo ul li {
    margin-bottom: 0.15vw;
}

.corpo_footer_conteudo ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8vw;
}

#logo_footer {
    width: 15%;
    height: 20%;
}


/*  CURIOSIDADES  */

.box_titulo {
    height: 14vw;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding-top: 50px;
}

.container_titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_titulo h1 {
    color: #000;
    font-size: 2.7vw;
    margin-bottom: 30px;
}

.box_img_fundo {
    width: 100vw;
    height: 31vw;
    background-image: url("../Img/sobre.png");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
}

.box_conteudo {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 100px;
}

.box_conteudo p {
    margin-bottom: 30px;
    text-align: justify;
}

#main_curiosidades {
    background-color: #f4f4f4;
}

.box_img_fundo_desvalorizacao {
    width: 100vw;
    height: 26vw;
    background-image: url("../Img/desvalorizacao.png");
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
}

.box_img_fundo_pandemia {
    width: 100vw;
    height: 26vw;
    background-image: url("../Img/pandemia.png");
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
}

.box_img_fundo_sentimentalismo {
    width: 100vw;
    height: 31vw;
    background-image: url("../Img/Sentimentalismo.png");
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    background-size: cover;
}

.box_img_fundo_importancia {
    width: 100vw;
    height: 26vw;
    background-image: url("../Img/importancia.png");
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    background-size: cover;
}

.box_img_fundo_analise {
    width: 100vw;
    height: 31vw;
    background-image: url("../Img/Analise.png");
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    background-size: cover;
}

.box_img_fundo_consideracoes {
    width: 100vw;
    height: 31vw;
    background-image: url("../Img/Consideracoes.png");
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    background-size: cover;
}

.box_img_fundo_intervencao {
    width: 100vw;
    height: 31vw;
    background-image: url("../Img/intervencao.png");
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    background-size: cover;
}


/* EQUIPE */

.box_equipe {
    background-color: #f4f4f4;
}

.coluna_unica {
    height: 280px;
    border-bottom: #e8e8e8 2px solid;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foto {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.foto img {
    width: 100%;
    height: 100%;
}

.foto_professor {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    overflow: hidden;
}

.imagem_fundo_equipe {
    width: 100vw;
    background-image: url("../Img/ImagemFundo.png");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.coluna_dupla {
    height: 520px;
    border-bottom: #e8e8e8 2px solid;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.coluna_cima {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.coluna_baixa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.coluna_final {
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo_equipe {
    width: 300px;
    height: 120px;
}

.container_conteudo span {
    font-size: 21px;
    margin-top: 40px;
}

.analise_titulo {
    color: #000;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 26px;
}

.box_conteudo_analise {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 100px;
}

.box_conteudo_analise p {
    margin-bottom: 50px;
    text-align: justify;
}